
@{
    ViewData["Title"] = "Index";
}

<center>
    <h1>Upload Flower Image to S3</h1>
    <br />
    <hr />
    <br />
    <form asp-action="ProcessUploadImage" asp-controller="ImageUpload" method="POST" enctype="multipart/form-data"> 
        Choose your flower picture: <input type="file" name="imagefile" multiple /> <br /><br />
        <button class="btn-dark" name="submit">Upload Image to S3</button>
    </form>
</center>


